<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPpwBJgGZ0T9DUG87B4W4v1E3X5iLYbFo</string>
	<key>GCM_SENDER_ID</key>
	<string>511256286118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alvin.ShopMinder</string>
	<key>PROJECT_ID</key>
	<string>shopminder-91f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>shopminder-91f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511256286118:ios:7b71223cf333e29a17f567</string>
</dict>
</plist>